@import "c/cssUtility";

* {
    color: #333;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
    margin-top: 72px;
}

h1 {
    font-size: 24px;
    margin: 10px 0 14px;
}

h2 {
    font-size: 18px;
}

.description p {
    margin-top: 10px;
}

.contact-info {
    margin: 30px 0;
}

.contact-info h2, .company-info h2{
    margin-bottom: 10px;
}

.contact-info p, .company-info p {
    margin-bottom: 30px;
}

.contact-info form > div, .company-info form > div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
}

.form-group {
    flex-basis: 100%;
}

.form-group .phone {
    flex-basis: 48.5%;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
}

input, select{
    width: 100%;
    display: block;
    border: 1px solid #ccc;
    padding: 5px 12px;
    outline: none;
}

input:focus, select:focus {
    border-color: #016a9c;
    box-shadow: 0px 0px 8px rgb(1, 106, 156, 0.6) ;
}

.contact-info .checkbox, .contact-info .checkbox-label,
.company-info .checkbox, .company-info .checkbox-label {
    width: fit-content;
    display: inline-block;
    font-weight: normal;
}

.contact-info .checkbox-label,
.company-info .checkbox-label {
    margin-left: 10px;
}

.e-mail-address {
    background-color: #e6e6e6;
}

.company-info button {
    outline: none;
    cursor: pointer;
    padding: 5px 12px;
    border: 1px solid ;
    border: 1px solid #ccc;
    color: #016a9c;
}

.company-info button:hover {
    background-color: #d5d5d5;
}

.company-info button a {
    text-decoration: none;
}

.afterSubmit h1 {
    font-size: 24px;
}

.checkbox-heading {
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .container {
        padding: 0 16px;
    }

    h1 {
        font-size: 34px;
    }
    
    h2 {
        font-size: 30px;
    }

    .contact-info form > div, .company-info form > div {
        flex-direction: row;
        gap: 20px;
    }

    .form-group {
        flex-basis: 50%;
    }

    .company .form-group {
        flex-basis: 100%;
    }

    .contact .form-group {
        flex-basis: 100%;
    }
}


@media screen and (min-width: 992px) {
    .container {
        padding: 20px 0 30px;
    }
}

@media screen and (min-width: 1200px) {

    h1 {
        font-size: 38px;
    }
    
    h2 {
        font-size: 34px;
    }
    
    .contact-info {
        margin: 45px 0;
    }

    .contact-info p, .company-info p {
        margin-bottom: 45px;
    }

    .contact-info form > div, .company-info form > div {
        gap: 30px;
        margin-bottom: 30px;
    }

    input, select {
        padding: 7px 14px;
    }

    .company-info button {
        border-color: #aaa;
    }
}