* {
    font: 16px / 26px "Noto-SansRegular", sans-serif;
    box-sizing: border-box;
}
header {
    display: block;
}
.navbar {
    margin-bottom: 0;
    border-bottom: 0;
    border-radius: 0;
    box-shadow: 0 3px 5px 0 rgba(170, 170, 170, .5) !important;
    border: 1px solid transparent;
    min-height: 72px;
}
.navbar-default {
    background-color: #fff;
    border-color: #e7e7e7;
}
/* .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
} */
.container {
    font-family: "Noto-SansRegular", sans-serif;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.pull-left {
    float: left !important;
}
.navbar-default .navbar-brand {
    color: #777;
    font-size: 2.5em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10.5px 15px;
    float: left;
    line-height: 21px;
    height: 50px;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
a {
    color: #016a9c;
    text-decoration: none;
    background-color: transparent;
}
.navbar-default .navbar-collapse {
    border-color: #e7e7e7;
}
.navbar-default .navbar-nav {
    float: right;
    display: flex;
    align-items: center;
    height: 72px;
}
.navbar-nav li {
    margin: 0 0 0 10px;
}
.navbar-nav li a span,.world-icon-color {
    color: #555;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    text-transform: initial;
    margin-bottom: 0;
    font-family: "Noto-SansRegular", sans-serif;
    --sds-c-icon-color-foreground-default: #555;
}
.navbar-nav li a span:hover,.world-icon-color:hover {
    color: #fb4f14;
    --sds-c-icon-color-foreground-default: #fb4f14;
}

.dropdown {
    position: relative;
    padding: 21px 0;
    cursor: pointer;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    position: absolute;
    background: white;
    border: 1px solid rgba(0, 0, 0, .15);
    top: 100%;
    left: 0;
    min-width: 160px;
    font-size: 16px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    display: none;
    padding: 5px 0;
}

.dropdown-menu li {
    margin: 0;
    list-style: none;
    cursor: pointer;
}

.dropdown-menu li a {
    padding: 3px 20px;
    color: black;
}

.dropdown-menu li:hover {
    background-color: #fb4f14;
}

.dropdown-menu li:hover a {
    text-decoration: none;
    color: white;
}










@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}